- if flash[:error].present?
  %br/
  .alert.alert-danger{:role => "alert"}
    %span.sr-only Error:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:error]
- if flash[:notice].present?
  %br/
  .alert.alert-info{:role => "alert"}
    %span.sr-only Notice:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:notice]
- if flash[:success].present?
  %br/
  .alert.alert-success{:role => "alert"}
    %span.sr-only Success:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:success]
- if flash[:alert].present?
  %br/
  .alert.alert-warning{:role => "alert"}
    %span.sr-only Alert:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:alert]
- flash.clear

