- if flash[:error].present?
  .alert.alert-danger{:role => "alert"}
    %span.sr-only Error:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:error]
    - flash[:error] = nil
- if flash[:notice].present?
  .alert.alert-info{:role => "alert"}
    %span.sr-only Notice:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:notice]
    - flash[:notice] = nil
- if flash[:success].present?
  .alert.alert-success{:role => "alert"}
    %span.sr-only Success:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:success]
    - flash[:success] = nil
- if flash[:alert].present?
  .alert.alert-warning{:role => "alert"}
    %span.sr-only Alert:
    %a.close{"data-dismiss" => "alert", :href => "#"} &times;
    = flash[:alert]
    - flash[:alert] = nil
