%section.content-header
  %h1.span_display_align Invoices
  %span.span_display_right= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary btn-flat'
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          %table.table.table-bordered
            %tbody
              %tr
                %th Invoice No
                %th Client Name
                %th Due Date
                %th Issue Date
                %th Invoice Total
                %th Status
                %th Actions
              = render @invoices