%section.content-header
  %h1.pull-left Invoices
  .pull-right= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary btn-flat'
  .spacer20
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          - if @invoices.present?
            %table.table.table-bordered
              %tbody
                %tr
                  %th Sr. #
                  %th.tbl-header-center Invoice No
                  %th.tbl-header-center Client Name
                  %th.tbl-header-center Due Date
                  %th.tbl-header-center Issue Date
                  %th.tbl-header-center Invoice Total
                  %th.tbl-header-center Status
                  %th.tbl-header-center Actions
                - @invoices.each_with_index do |invoice, index|
                  = render 'invoice', {invoice: invoice, index: index}
          - else
            %h3.not_records_found_h3 No Invoice Found.
