%section.content-header
  %h1 Invoices
%section.content
  = link_to "New Invoice", new_invoice_path, class: 'btn btn-sm btn-primary'
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          %table.table.table-bordered
            %tbody
              %tr
                %th Invoice No
                %th Client Name
                %th Due Date
                %th Issue Date
                %th Invoice Total
                %th Status
                %th Actions
              = render @invoices