%section.content-header
  %h1
    Edit Client
%section.content
  .row
    = simple_form_for @client do |f|
      .col-md-6
        .box.box-primary
          .box-body
            = render "form", f: f
      .col-md-6
        .box.box-primary
          .box-body
            = render "contact", f: f
      .col-md-12
        .div
          = f.submit "Save", class: 'btn btn-primary btn-flat', id: "submit_button", data: { disable_with: t('common.captions.save_disable') }
