- if @clients.present? 
  %h1 Clients
  %br/
  = link_to 'New Client', new_client_path
  %br/
  %br/
  %table.table.table-striped.table-bordered.table-hover
    %tr
      %th
        Client Name
      %th
        Currency Code
      %th
        Street 1
      %th
        Street 2
      %th
        City
      %th
        State
      %th
        Pincode
      %th
        Country Name
      %th
        Actions
    - for client in @clients
      = render :partial => "client", :locals=> {client: client}      
- else
  %h3 No Client Found.
