%section.content-header
  %h1 Clients
%section.content
  = link_to 'New Client', new_client_path, class: 'btn btn-sm btn-primary'
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          - if @clients.present? 
            %table.table.table-bordered
              %tbody
                %tr
                  %th
                  %th
                    Location Details
                  %th
                    Contact Details
                  %th
                  %th
                  %th
                %tr
                  %th.client_td_width
                    Client Name
                  %th
                    City, Country
                  %th
                    Name
                  %th
                    Phone
                  %th
                    Mobile
                  %th
                    Actions
                = render @clients
          - else
            %h3 No Client Found. 