%section.content-header
  %h1.span_display_align Clients
  %span.span_display_right= link_to 'New Client', new_client_path, class: 'btn btn-sm btn-primary'
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          - if @clients.present? 
            %table.table.table-bordered
              %tbody
                %tr
                  %th
                    Sr. #
                  %th.client_td_width.tbl-header-center
                    Name
                  %th.tbl-header-center
                    Location
                  %th.tbl-header-center
                    Contact
                  %th.tbl-header-center
                    Email
                  %th.tbl-header-center
                    Mobile
                  %th.tbl-header-center
                    Actions
              - @clients.each_with_index do |client, index|
                = render 'client', {client: client, index: index}
          - else
            %h3 No Client Found. 
