- if current_user.company.present?
  %section.content-header
  	%h1
    	New Client
  %section.content
  	.row
    	.col-md-6
      	.box.box-primary
          = render "form"
- else
  %section.content-header
    %h1 You need to create company first.
