%section.content
  .row
    .col-md-12
      .box.box-primary
        .box-body
          %h1 Invoice management made easy
          %p
            - if !current_company.present? && current_user.present?
              You first need to provide company details.
              = link_to "Change Now!", new_company_path, class: 'btn btn-primary btn-flat', data: { disable_with: 'Changing...' }
            - else
              Manage all your clients and Invoices through this slick application, keep everything on your fingre tips!
- if current_user.present?
  %section.content
    .row
      .col-md-12
        .box.box-success
          .box-header
            %i.fa.fa-comments-o
            %h3.box-title Activities
            - if @array.present?
              - for i in 0..@array.size-1
                - if @array[i].first[:activities].present?
                  %h4= @array[i].first[:day]
                  %h4
                  #chat-box.box-body.chat.history_div
                    - @array[i].first[:activities].each do |activity|
                      .activity
                        = activity.owner.first_name if activity.owner
                        = render_activity activity
  :javascript
    $(document).ready(function() {
      $('.chat').slimScroll({
            height: '250px'
      });
    });