%section.content
  .row
    .col-md-12
      .box.box-primary
        .box-body
          %h1 Invoice management made easy
          %p
            Manage all your clients and Invoices through this slick application, keep everything on your fingre tips!
