-if is_admin?
  = form_for @company, remote: true do |f|
    #modal-form.modal{:tabindex => "-1"}
      .modal-dialog
        .modal-content
          .content-header
            %button.close{"data-dismiss" => "modal", :type => "button"} &times;
            %h1 Please fill the following form fields
          .modal-body.overflow-visible
            #e1
              - if flash[:error].present?
                .alert.alert-danger.alert-dismissible{:role => "alert"}
                  %a.close{"data-dismiss" => "alert", :href => "#"} &times;
                  = flash[:error]
                  - flash.clear
          %section.content
            .row
              .col-md-12
                .form-group
                  = f.label :name
                  = f.text_field :name, class: 'form-control', placeholder: 'Enter name'
                .box-footer
                  %button.btn.btn-sm.btn-primary{:type => "submit"}
                    %i.icon-ok
                    Save
                  %button.btn.btn-sm.btn-primary{"data-dismiss" => "modal"}
                    %i.icon-remove
                    Cancel