%h1 Edit User
.clearfix
= form_for @user, :url => :user_update_path, html: { method: :put, onsubmit: "document.getElementById('submit_button').disabled = 1;" } do |f|
  = render :partial => 'form', :locals => {:f => f}
  .row
    .col-xs-12
      .col-xs-10.col-sm-offset-2
        .actions
        = f.submit "Update", class: "btn btn-info", id: "submit_button"
