%h1 User Profile:
%br/
.profile-user-info.profile-user-info-striped
  .profile-info-row
    %b Email: &nbsp;
    = @user.email
    %br/
  .profile-info-row
    %b First Name: &nbsp;
    = @user.first_name
    %br/
  .profile-info-row
    %b Last Name: &nbsp;
    = @user.last_name
    %br/
  .profile-info-row
    %b Role: &nbsp;
    = @user.role
