- (@payment.invoice.payments.order("date_of_payment DESC")).each do |payment|
  %tr
    %td= payment.invoice.invoice_number
    %td= payment.date_of_payment.strftime("%d/%m/%Y")
    %td= payment.payment_method
    %td= payment.payment_amount.to_s


