%section.content-header
  %h1 Payments
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          %table.table.table-bordered
            %tbody
              %tr
                %th Sr. #
                %th.tbl-header-center Invoice No
                %th.tbl-header-center Payment Amount
                %th.tbl-header-center Payment Method
                %th.tbl-header-center Payment Date
                %th.tbl-header-center Actions
              - @payments.each_with_index do |payment, index|
                = render 'payment', {payment: payment, index: index}