%section.content-header
  %h1.pull-left Items
  .pull-right= link_to "New Item", new_item_path, data: { toggle: :modal }, class: 'btn btn-primary btn-flat', remote: true
  .spacer20
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          - if @items.present?
            %table.table.table-bordered
              %tbody
                %tr
                  %th.tbl-header-width-90 Name
                  %th Price
                  %th Actions
                = render @items
          - else
            %h3.not_records_found_h3 No Item Found.
#modal_popup
