%section.content-header
  %h1.span_display_align Items
  %span.span_display_right= link_to "New Item", new_item_path, data: { toggle: :modal }, class: 'btn btn-primary btn-flat', remote: true
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          - if @items.present?
            %table.table.table-bordered
              %tbody
                %tr
                  %th.width90 Name
                  %th Price
                  %th Actions
                = render @items
          - else
            %h3.h3_margin No Item Found.
%div{id: "modal_popup"}
