%section.content-header
  %h1
    Edit Company
%section.content
  .row
    .col-md-6
      .box.box-primary
        .box-body
          = render partial: 'form', locals: {url_redirect: :company_update_path, method_used: :put}

