%section.content-header
  %h1
    New Company
%section.content
  .row
    .col-md-6
      .box.box-primary
        .box-body
          = simple_form_for @company, :url => '/company' do |f|
            = render "form", f: f
