%section.content-header
  %h1.pull-left Taxes
  .pull-right= link_to "New Tax", new_tax_path, class: 'btn btn-primary btn-flat'
  .spacer20
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          - if @taxes.present?
            %table.table.table-bordered
              %tbody
                %tr
                  %th.width10 Sr. #
                  %th.tbl-header-center Name
                  %th.tbl-header-center Rate
                  %th.tbl-header-center Description
                  %th.tbl-header-center Parent
                  %th.tbl-header-center Actions
                - @taxes.each_with_index do |tax, index|
                  = render 'tax', {tax: tax, index: index}
          - else
            %h3.not_records_found_h3 No Tax Found.