%section.content-header
  %h1.span_display_align Taxes
  %span.span_display_right= link_to "New Tax", new_tax_path, class: 'btn btn-primary btn-flat'
%section.content
  .spacer5
  .row
    .col-md-12
      .box
        .box-body
          - if @taxes.present?
            %table.table.table-bordered
              %tbody
                %tr
                  %th Name
                  %th Rate
                  %th Description
                  %th Parent
                  %th Actions
                = render @taxes
          - else
            %h3.h3_margin No Tax Found.