%footer.main-footer
  %strong
    Copyright © #{(Date.today.year-1).to_s}-#{Date.today.year.to_s}
    = succeed "." do
      %a{:href => "http://botreetechnologies.com"} Botree Technologies Pvt. Ltd.
  All rights reserved.
/ ./wrapper